In [1]:
%matplotlib inline
import re
import os
import numpy as np
import pandas as pd
import seaborn as sns
from requests import get
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator

# Import Data

In [2]:
product_df = pd.read_csv('../data/dunnhumby - The Complete Journey CSV/product.csv')
transaction_data_df = pd.read_csv('../data/dunnhumby - The Complete Journey CSV/transaction_data.csv')

In [32]:
transaction_data_df.groupby('PRODUCT_ID').agg('count').sort_values(by = 'DAY')

,household_key,BASKET_ID,DAY,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
PRODUCT_ID,,,,,,,,,,,
1621091,1,1,1,1,1,1,1,1,1,1,1
2456132,1,1,1,1,1,1,1,1,1,1,1
2456653,1,1,1,1,1,1,1,1,1,1,1
2456700,1,1,1,1,1,1,1,1,1,1,1
2456722,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1106523,9826,9826,9826,9826,9826,9826,9826,9826,9826,9826,9826
995242,12542,12542,12542,12542,12542,12542,12542,12542,12542,12542,12542
1029743,14430,14430,14430,14430,14430,14430,14430,14430,14430,14430,14430
6534178,19820,19820,19820,19820,19820,19820,19820,19820,19820,19820,19820
1082185,29778,29778,29778,29778,29778,29778,29778,29778,29778,29778,29778

# Observing Data

In [3]:
transaction_data_df.sample(5)

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
1038716,514,31833876881,326,860299,1,2.99,324,0.00,1557,47,0.0,0.0
631314,81,30215396558,222,6034968,1,1.50,446,0.00,1451,32,0.0,0.0
32187,1928,27469012501,41,1093359,1,0.50,330,-0.29,1823,7,0.0,0.0
995286,312,31711536291,315,1139058,1,1.00,402,-0.29,1511,46,0.0,0.0
607203,1294,30118131280,218,10285499,1,2.50,356,-0.49,1425,32,0.0,0.0

In [4]:
product_df.head(2)

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [25]:
food_related_arr = np.array(['NUTRITION','GROCERY','PASTRY','MEAT-PCKGD','SEAFOOD-PCKGD','PRODUCE','DELI','MEAT','SALAD BAR','GRO BAKERY','FROZEN GROCERY','SPIRITS','RESTAURANT'])
food_product_df = product_df.loc[(product_df['DEPARTMENT'].isin(food_related_arr))]

In [26]:
food_transaction_data = transaction_data_df.merge(food_product_df,how = 'inner',on = 'PRODUCT_ID')

In [27]:
food_transaction_data['PRODUCT_ID'].unique().shape[0]

55638

In [28]:
food_transaction_data = food_transaction_data[['PRODUCT_ID']]
food_transaction_data['count'] = 1

In [29]:
food_transaction_data = food_transaction_data.groupby('PRODUCT_ID')\
                     .agg('count')

In [30]:
food_transaction = food_transaction_data.join(product_df[['PRODUCT_ID','COMMODITY_DESC','SUB_COMMODITY_DESC']],how = 'inner')\
                                        .sort_values(by = 'count',ascending = False)

In [31]:
food_transaction

,count,PRODUCT_ID,COMMODITY_DESC,SUB_COMMODITY_DESC
43871,43,1316746,DOMESTIC WINE,FRUIT VARIETAL WINES
42346,38,1175869,POTATOES,POTATOES OTHER
43020,38,1236112,WAREHOUSE SNACKS,MISC SNACKS
28897,36,1022757,PAPER HOUSEWARES,PLSTC CTLRYTBLCLTHSTTHPKSST
29629,35,1029551,SHOE CARE,SHOE CARE: LACES/POLISH/CLOT
...,...,...,...,...
49165,1,2028997,BABY FOODS,BABY FOOD JUNIOR ALL BRANDS
49146,1,2027206,CHEESE,SHREDDED CHEESE
49069,1,2020356,BAKING NEEDS,MARSHMALLOWS
49058,1,2019155,BAG SNACKS,PRETZELS
92317,1,18193059,ORGANICS FRUIT & VEGETABLES,ORGANIC HERBS

## Product Data

In [11]:
product_df.head(10)

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ
5,26426,69,GROCERY,Private,SPICES & EXTRACTS,SPICES & SEASONINGS,2.5 OZ
6,26540,69,GROCERY,Private,COOKIES/CONES,TRAY PACK/CHOC CHIP COOKIES,16 OZ
7,26601,69,DRUG GM,Private,VITAMINS,VITAMIN - MINERALS,300CT(1)
8,26636,69,PASTRY,Private,BREAKFAST SWEETS,SW GDS: SW ROLLS/DAN,
9,26691,16,GROCERY,Private,PNT BTR/JELLY/JAMS,HONEY,12 OZ

In [12]:
product_df[product_df['DEPARTMENT']=='GROCERY'].groupby('COMMODITY_DESC')['PRODUCT_ID'].count().sort_values(ascending=False)

COMMODITY_DESC
SOFT DRINKS               1704
BAG SNACKS                1523
HISPANIC                  1460
FRZN MEAT/MEAT DINNERS    1268
BAKED BREAD/BUNS/ROLLS    1169
                          ...
BIRD SEED                   29
FROZEN CHICKEN              27
COUPON/MISC ITEMS           17
FRZN SEAFOOD                11
BOTTLE DEPOSITS             10
Name: PRODUCT_ID, Length: 94, dtype: int64

Let us look at what kind of 'Drug GM' products we have

In [13]:
product_df[product_df['DEPARTMENT']=='DRUG GM'].groupby('COMMODITY_DESC')['PRODUCT_ID'].count().sort_values(ascending=False)

COMMODITY_DESC
GREETING CARDS/WRAP/PARTY SPLY    2785
CANDY - PACKAGED                  2473
HAIR CARE PRODUCTS                1744
STATIONERY & SCHOOL SUPPLIES      1261
MAGAZINE                          1224
                                  ...
COUPON/MISC ITEMS                    5
PROPANE                              3
MISCELLANEOUS HBC                    3
FRAGRANCES                           1
FD WRAPS/BAGS/TRSH BG                1
Name: PRODUCT_ID, Length: 91, dtype: int64

# Downloaded food nutrients data

In [22]:
branded_food_df = pd.read_csv('../data/health/branded_food.csv')
nutrient_df = pd.read_csv('../data/health/nutrient.csv')
food_df = pd.read_csv('../data/health/food.csv')
food_nutrients_df = pd.read_csv('../data/health/food_nutrient.csv')
food_category_df = pd.read_csv('../data/health/food_category.csv')

In [24]:
#drop unnecessary columns and rename to be more understandable
food_nutrients_small_df = food_nutrients_df.drop(["data_points","min","max","median","footnote","min_year_acquired","derivation_id"],axis=1)
nutrient_small_df = nutrient_df.drop(["nutrient_nbr","rank"],axis=1)
food_category_df.drop(["code"],axis=1,inplace=True)
food_category_df.rename(columns={'id':'food_category_id','description':'category'},inplace= True)
food_df.drop(["publication_date"],axis=1,inplace=True)

KeyError: "['code'] not found in axis"

In [25]:
# join the df to see which id corresponds to which nutrients
joined_df = food_nutrients_small_df.join(nutrient_small_df.set_index('id'),on='nutrient_id',how='left')
joined_df.head()

        id  fdc_id  nutrient_id  amount                         name unit_name
0  2288167  336069         1003    3.28                      Protein         G
1  2288168  336069         1004    1.91            Total lipid (fat)         G
2  2288169  336069         1005    4.85  Carbohydrate, by difference         G
3  2288170  336069         1008   50.00                       Energy      KCAL
4  2288171  336069         1018    0.00               Alcohol, ethyl         G

In [26]:
#index the resulting table by multiindex: product id -> name of nutrients
structured_df = joined_df.set_index(pd.MultiIndex.from_frame(joined_df[['fdc_id','nutrient_id']]))
#drop unnecessary columns 
structured_small_df = structured_df.drop(["id","fdc_id","nutrient_id","name"],axis=1)

In [27]:
structured_small_df.head()

                    amount unit_name
fdc_id nutrient_id
336069 1003           3.28         G
       1004           1.91         G
       1005           4.85         G
       1008          50.00      KCAL
       1018           0.00         G

In [28]:
food_df.head()

,fdc_id,data_type,description,food_category_id
0,336069,survey_fndds_food,"Milk, NFS",NaN
1,336070,survey_fndds_food,"Milk, whole",NaN
2,336071,survey_fndds_food,"Milk, low sodium, whole",NaN
3,336072,survey_fndds_food,"Milk, calcium fortified, whole",NaN
4,336073,survey_fndds_food,"Milk, calcium fortified, low fat (1%)",NaN

In [29]:
food_with_category_df = food_df.join(food_category_df.set_index("food_category_id"),on="food_category_id",how="left")
food_with_category_df.drop(["food_category_id"],axis=1,inplace=True)

In [30]:
food_with_category_df.head()

   fdc_id          data_type                            description category
0  336069  survey_fndds_food                              Milk, NFS      NaN
1  336070  survey_fndds_food                            Milk, whole      NaN
2  336071  survey_fndds_food                Milk, low sodium, whole      NaN
3  336072  survey_fndds_food         Milk, calcium fortified, whole      NaN
4  336073  survey_fndds_food  Milk, calcium fortified, low fat (1%)      NaN

In [31]:
structured_name_df = structured_small_df.join(food_with_category_df.set_index('fdc_id'),on='fdc_id',how='left')

In [32]:
structured_name_df.head()

                    amount unit_name          data_type description category
fdc_id nutrient_id
336069 1003           3.28         G  survey_fndds_food   Milk, NFS      NaN
       1004           1.91         G  survey_fndds_food   Milk, NFS      NaN
       1005           4.85         G  survey_fndds_food   Milk, NFS      NaN
       1008          50.00      KCAL  survey_fndds_food   Milk, NFS      NaN
       1018           0.00         G  survey_fndds_food   Milk, NFS      NaN

In [33]:
structured_rows_df = structured_name_df.unstack(level=1,fill_value=0)

In [34]:
structured_rows_df.columns

MultiIndex([(  'amount', 1003),
            (  'amount', 1004),
            (  'amount', 1005),
            (  'amount', 1008),
            (  'amount', 1018),
            (  'amount', 1051),
            (  'amount', 1057),
            (  'amount', 1058),
            (  'amount', 1079),
            (  'amount', 1087),
            ...
            ('category', 1272),
            ('category', 1275),
            ('category', 1276),
            ('category', 1277),
            ('category', 1278),
            ('category', 1279),
            ('category', 1280),
            ('category', 1292),
            ('category', 1293),
            ('category', 2000)],
           names=[None, 'nutrient_id'], length=325)

In [35]:
structured_rows_df.head(1)

            amount                                                    ...  \
nutrient_id   1003  1004  1005  1008 1018  1051 1057 1058 1079  1087  ...
fdc_id                                                                ...
336068        1.03  4.38  6.89  70.0  0.0  87.5  0.0  0.0  0.0  32.0  ...

            category
nutrient_id     1272 1275 1276 1277 1278 1279 1280 1292 1293 2000
fdc_id
336068           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1 rows x 325 columns]

In [36]:
structured_name_df.index.get_level_values(1)

Int64Index([1003, 1004, 1005, 1008, 1018, 1051, 1057, 1058, 2000, 1079,
            ...
            1271, 1272, 1275, 1276, 1277, 1278, 1279, 1280, 1292, 1293],
           dtype='int64', name='nutrient_id', length=554840)

In [37]:
test_df = joined_df.head(30)

In [38]:
joined_df.pivot(columns='nutrient_id')

                    id                                                        \
nutrient_id       1003       1004       1005       1008       1018 1051 1057
0            2288167.0        NaN        NaN        NaN        NaN  NaN  NaN
1                  NaN  2288168.0        NaN        NaN        NaN  NaN  NaN
2                  NaN        NaN  2288169.0        NaN        NaN  NaN  NaN
3                  NaN        NaN        NaN  2288170.0        NaN  NaN  NaN
4                  NaN        NaN        NaN        NaN  2288171.0  NaN  NaN
...                ...        ...        ...        ...        ...  ...  ...
554835             NaN        NaN        NaN        NaN        NaN  NaN  NaN
554836             NaN        NaN        NaN        NaN        NaN  NaN  NaN
554837             NaN        NaN        NaN        NaN        NaN  NaN  NaN
554838             NaN        NaN        NaN        NaN        NaN  NaN  NaN
554839             NaN        NaN        NaN        NaN        NaN  NaN  NaN

                            ... unit_name                                     \
nutrient_id 1058 1079 1087  ...      1272 1275 1276 1277 1278 1279 1280 1292
0            NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1            NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2            NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3            NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4            NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...          ...  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...
554835       NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN    G  NaN  NaN  NaN
554836       NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN    G  NaN  NaN
554837       NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN    G  NaN
554838       NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN    G
554839       NaN  NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN


nutrient_id 1293 2000
0            NaN  NaN
1            NaN  NaN
2            NaN  NaN
3            NaN  NaN
4            NaN  NaN
...          ...  ...
554835       NaN  NaN
554836       NaN  NaN
554837       NaN  NaN
554838       NaN  NaN
554839         G  NaN

[554840 rows x 325 columns]

# Analysis

In [141]:
#load the pickle file
with open(r"../results/products_with_link_to_nutrients_df.pickle", "rb") as input_file:
    linked_df = pickle.load(input_file)

In [143]:
def calculate_nutrient_per_day_per_person(key1,nutrient):
    """
    key = household key
    nutrient = nutrient for which we want to calculate the amount bought
    returns the amount of a specified nutrient bought and presumably consumed per day and per person on avergade
    in the selected household
    """
    household_transactions_df = transaction_data_df[transaction_data_df.household_key == key1]
    
    ids_bought_items = household_transactions_df["PRODUCT_ID"]
    household_transactions_df[nutrient] = linked_df.loc[ids_bought_items,nutrient].values
    
    household_transactions_df[nutrient].fillna(value=0)
    
    time_interval = household_transactions_df["DAY"].max() - household_transactions_df["DAY"].min() + 1
    nutrient_per_household = household_transactions_df[nutrient].sum() / time_interval
    household_demographics = hh_demographic_df[hh_demographic_df.household_key == key1]
    nutrient_per_person = nutrient_per_household / household_demographics["HOUSEHOLD_SIZE_DESC"]
    return nutrient_per_person

def parse_sex_homeowner(key):
    str1 = hh_demographic_df[hh_demographic_df.household_key == key]["HH_COMP_DESC"].values[0]
    str1 = str1.lower()
    if str1.contains("female"):
            return "f"
    elif str1.contains("male"):
            return "m"
    else:
            return "unknown"
    
#TO DO
#caloric needs adult = 2000 kcal , kid = 1000 kcal -> take it into account

In [144]:
#It is now convenient to find the amount of a certain nutrient in a given product using it's id
linked_df.loc[995242,"energy"]

61.0

### There is only test code from this point on, nothing to keep

In [44]:
#doesn't work because the information fdc_id is still missing
calculate_nutrient_per_day_per_person(255,"energy")

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

Series([], Name: HOUSEHOLD_SIZE_DESC, dtype: object)

In [45]:
test0 = ['duck','creamy','swiss','miss','pudding','24','oz']
test1 = ["penguin","afdadf"]
test2 = ["peanuts","orange","crisp"]
test3 = ["sandwich","lettuce","cheese"]
test4 = ["indian","lamb","josh"]
test5 = ['vanilla','creamy','swiss','miss','pudding','24','oz']
test6 = ['libbys']
test7 = ["hispanic", "oriental", "noodles"," rice"]
test8 = ["vegetables", "others"]
test9 = ["frozen", "ice", "cream", "bars"]
test10 =["wolf", "chili", "without", "beans"]
test11 = ["tropical", "fruit", "bananas"]
test12 = ['vegetables', 'green', 'cut']
test13 = ['vegetables', 'shelf', 'stable', 'beans', 'green', 'fs', 'whl', 'cut']
test14 = ["seafood", "shelf","stable", "tuna"]
find_food(test14, food_df, DIC_SCORE, verb = False)

0 ['seafood', 'shelf', 'stable', 'tuna']
0 ['seafood', 'stable', 'tuna']
0 ['seafood', 'tuna']
0 ['tuna']

match     Fish, tuna salad
fdc_id              175160
Name: 23, dtype: object