### Remarks / TODO:
    -there are a few food items in MISC. TRANS
    -add the nutrients present under different names and ids, such as: carbohydrates or carbohydrates by difference

In [1]:
%matplotlib inline
import re
import os
import nltk
import time
import pickle
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib.ticker import MaxNLocator
from IPython.core.display import SVG

sys.path.insert(1, './utilities/')
from health_functions import *
%load_ext autoreload
%autoreload 2

In [2]:
DUNNHUMBY_PATH = '../data/dunnhumby - The Complete Journey CSV/'
HEALTH_PATH = '../data/health'

# Import Data

In [43]:
def import_data(path1, path2):
    dfList = {}
    for r, d, f in os.walk(path1):
        for file in f:
            if '.csv' in file:
                print(file)
                dfList[file] = pd.read_csv(os.path.join(r, file))

    products_df = dfList['product.csv']
    transaction_data_df = dfList['transaction_data.csv']
    hh_demographic_df = dfList['hh_demographic.csv']

    dfList = {}
    for r, d, f in os.walk(path2):
        for file in f:
            if '.csv' in file:
                # print(file)
                dfList[file] = pd.read_csv(os.path.join(r, file))

    # link the nutrient id with its name
    nutrient_df = dfList['nutrient.csv']
    # contains the food articles name and their id test commit
    food_df = dfList['food.csv']
    # contains the nutrients for each food article
    food_nutrients_df = dfList['food_nutrient.csv']
    # linke the food articles ids to their category
    food_category_df = dfList['food_category.csv']
    return products_df,transaction_data_df, nutrient_df, food_df, food_nutrients_df, food_category_df, hh_demographic_df


products_df,transaction_data_df, nutrient_df, food_df, food_nutrients_df, food_category_df, hh_demographic_df = import_data(DUNNHUMBY_PATH, HEALTH_PATH)

hh_demographic.csv
causal_data.csv
coupon.csv
campaign_table.csv
coupon_redempt.csv
product.csv
campaign_desc.csv
transaction_data.csv

### Most sold items

In [4]:
transaction_data_df.head(3)

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.3,1631,1,0.0,0.0

In [5]:
#select all the sold items
products_sold_df = products_df.loc[products_df['PRODUCT_ID'].isin(transaction_data_df['PRODUCT_ID'].unique())]

In [6]:
#select all the items sold at least 1000 times
sales_qte_df = transaction_data_df[['PRODUCT_ID','QUANTITY']]\
    .groupby(['PRODUCT_ID']).sum().sort_values(by=['QUANTITY'],ascending=False)
sales_qte_df = sales_qte_df[sales_qte_df['QUANTITY'] > 1000]
sales_qte_df.head(5)

             QUANTITY
PRODUCT_ID
6534178     216532156
6533889      18479630
6534166      13980451
6544236       2705127
1404121       1694604

In [7]:
#select only the categories which are food related and sort them
food_related = np.array(['NUTRITION','GROCERY','PASTRY','MEAT-PCKGD','SEAFOOD-PCKGD','PRODUCE','DELI','MEAT','SALAD BAR','GRO BAKERY','FROZEN GROCERY','SPIRITS','RESTAURANT'])

products_sales_df = products_df.loc[(products_df['DEPARTMENT'].isin(food_related))].join(sales_qte_df, on='PRODUCT_ID', how='inner')
products_sales_df.sort_values(by='QUANTITY',ascending=False,inplace=True)
products_sales_df.head(4)

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT,QUANTITY
35576,1082185,2,PRODUCE,National,TROPICAL FRUIT,BANANAS,40 LB,30896
25754,995242,69,GROCERY,Private,FLUID MILK PRODUCTS,FLUID MILK WHITE ONLY,,21758
29657,1029743,69,GROCERY,Private,FLUID MILK PRODUCTS,FLUID MILK WHITE ONLY,1 GA,16976
41175,1133018,69,GROCERY,Private,FLUID MILK PRODUCTS,FLUID MILK WHITE ONLY,,12318

## Product Data

In [8]:
#we put all the description in a ingredients column
products_sales_df['ingredients'] = products_sales_df.COMMODITY_DESC + " " + products_sales_df.SUB_COMMODITY_DESC
products_sales_df.drop(["DEPARTMENT","BRAND","COMMODITY_DESC","SUB_COMMODITY_DESC"],axis = 1, inplace = True)

In [9]:
products_sales_df.ingredients = products_sales_df.ingredients.apply(parse_words)

In [10]:
products_sales_df.ingredients.head()

35576    [tropical, fruit, bananas]
25754              [milk, products]
29657              [milk, products]
41175              [milk, products]
38262              [milk, products]
Name: ingredients, dtype: object

We see that we now have an easily parseable format

## Downloaded food nutrients data

In [11]:
#drop unnecessary columns and rename to be more understandable
food_nutrients_df.drop(["data_points","min","max","median","footnote","min_year_acquired","derivation_id"]\
                       ,axis=1,inplace=True)
nutrient_df.drop(["nutrient_nbr","rank"],axis=1,inplace=True)
food_category_df.drop(["code"],axis=1,inplace=True)
food_df.drop(["publication_date"],axis=1,inplace=True)

food_category_df.rename(columns={'id':'food_category_id','description':'category'},inplace= True)

In [12]:
#filter out only the necessary food nutrients since we have 227, 
#a lot of which aren't necessary to determine if a food is healthy
list_relevant_nutrients = ["Protein", "Total Carbohydrate","Total lipid (fat)","Sucrose",\
                            "Glucose (dextrose)","Sugars, total including NLEA","Fatty acids, total monounsaturated",\
                            "Fatty acids, total polyunsaturated","Fatty acids, total trans",\
                           "Fatty acids, total saturated","Cholesterol","Vitamin E, added",\
                           "Vitamin K (phylloquinone)","Vitamin B-12","Vitamin B-6",\
                            "Vitamin D","Vitamin A, RAE","Sodium, Na","Total fat (NLEA)","Fiber, total dietary",\
                           "Energy","Carbohydrate, by summation","Fructose"]

nutrient_df = nutrient_df[nutrient_df.name.isin(list_relevant_nutrients)]

In [13]:
#simplyfy and normalize the nutrient names
simplified_names = nutrient_df.name.apply(trim_nutrient_name)
nutrient_df.loc[:,"name"] = simplified_names

In [14]:
nutrient_df.head(4)

     id         name unit_name
1  1003      protein         G
2  1004  total lipid         G
5  1008       energy      KCAL
7  1010      sucrose         G

In [15]:
food_nutrients_df.head()

        id  fdc_id  nutrient_id  amount
0  4178832  346049         1079    0.00
1  4178833  346049         1087    0.00
2  4178834  346049         1089    2.57
3  4178835  346049         1104    0.00
4  4178836  346049         1162    0.00

In [16]:
#add the names of the nutrients contained in the food
food_nutrients_df = food_nutrients_df.join(nutrient_df.set_index('id'),on='nutrient_id',how='inner')

#takes a long time to run
#food_nutrients_df.amount = food_nutrients_df[["amount","unit_name"]].apply(get_amount, axis=1)
#food_nutrients_df.drop("unit_name",axis=1,inplace=True))

In [17]:
#energy is duplicated because we have both kcal and kj, we take only kcal
test = food_nutrients_df.copy()
food_nutrients_df = food_nutrients_df.pivot_table(index='fdc_id', columns='name', values='amount',aggfunc='first')
food_nutrients_df.fillna(value=0, inplace=True)
food_nutrients_df.head(3)

name,carbohydrate,cholesterol,energy,fatty acids total monounsaturated,fatty acids total polyunsaturated,fatty acids total saturated,fatty acids total trans,fiber,fructose,glucose,...,sucrose,sugars,total fat,total lipid,vitamin a,vitamin b-12,vitamin b-6,vitamin d,vitamin e,vitamin k
fdc_id,,,,,,,,,,,,,,,,,,,,,
167512,0.0,0.0,307.0,0.0,0.0,2.941,4.412,1.2,0.0,0.0,...,0.0,5.88,0.0,13.24,0.0,0.0,0.0,0.0,0.0,0.0
167513,0.0,0.0,330.0,0.0,0.0,3.250,4.290,1.4,0.0,0.0,...,0.0,21.34,0.0,11.27,0.0,0.0,0.0,0.0,0.0,0.0
167514,0.0,0.0,377.0,0.0,0.0,0.000,0.000,0.0,0.0,0.0,...,0.0,0.00,0.0,3.70,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
food_nutrients_df.loc[167512]

name
carbohydrate                            0.000
cholesterol                             0.000
energy                                307.000
fatty acids total monounsaturated       0.000
fatty acids total polyunsaturated       0.000
fatty acids total saturated             2.941
fatty acids total trans                 4.412
fiber                                   1.200
fructose                                0.000
glucose                                 0.000
protein                                 5.880
sodium                               1059.000
sucrose                                 0.000
sugars                                  5.880
total fat                               0.000
total lipid                            13.240
vitamin a                               0.000
vitamin b-12                            0.000
vitamin b-6                             0.000
vitamin d                               0.000
vitamin e                               0.000
vitamin k                               0.000
Name: 167512, dtype: float64

In [19]:
#add categories to the food df
food_df = food_df.join(food_category_df.set_index("food_category_id"),on="food_category_id",how="left")
food_df.drop(["food_category_id"],axis=1,inplace=True)
food_df.description = food_df.description.apply(parse_words)

In [20]:
food_df.head()

   fdc_id     data_type                    description category
0  346049  branded_food  [libbys, corned, beef, onion]      NaN
1  346050  branded_food  [libbys, corned, beef, chili]      NaN
2  346464  branded_food  [wolf, chili, without, beans]      NaN
3  346466  branded_food   [wolf, turkey, chili, beans]      NaN
4  346468  branded_food    [wolf, brand, chili, beans]      NaN

We see that a lot of categories are unfortunately missing from the governement database

In [21]:
all_information_df = food_df.join(food_nutrients_df,on='fdc_id',how='inner')

In [22]:
all_information_df.head(3)

,fdc_id,data_type,description,category,carbohydrate,cholesterol,energy,fatty acids total monounsaturated,fatty acids total polyunsaturated,fatty acids total saturated,...,sucrose,sugars,total fat,total lipid,vitamin a,vitamin b-12,vitamin b-6,vitamin d,vitamin e,vitamin k
0,346049,branded_food,"[libbys, corned, beef, onion]",NaN,0.0,71.0,0.0,0.89,0.00,6.25,...,0.0,1.79,0.0,14.29,0.0,0.0,0.0,0.0,0.0,0.0
1,346050,branded_food,"[libbys, corned, beef, chili]",NaN,0.0,80.0,0.0,0.89,0.00,6.25,...,0.0,1.79,0.0,14.29,0.0,0.0,0.0,0.0,0.0,0.0
2,346464,branded_food,"[wolf, chili, without, beans]",NaN,0.0,22.0,0.0,4.84,1.41,4.44,...,0.0,0.81,0.0,11.29,0.0,0.0,0.0,0.0,0.0,0.0

_At this stage we have 3 dataframes from our additional dataset for nutrition:_
- food_name_df = fdc_id vs parsed food title (list of string)
- food_nutrients_df = fdc_id vs nutrients contained as columns
- all_information_df = fdc_id, data type, description, food category and all nutrients

## Word Importance

_We filter the words according to their importance: that is, a word is more important as it apears many times in both datasets: (Ex: 'orange' is more important than 'artificial'). The words occuring in only one dataset are of no importance. The rest of the algorithm follows the following pipeline:_

In [23]:
SVG(filename='graphs/allwords.svg')

In [24]:
#all words present in the nutrition dataset
all_words_nutrition = get_allwords(food_df.description)

#all words present in the product dataset
all_words_supermarket = get_allwords(products_sales_df.ingredients)

#### Inner merge between the 2 sets of words:

_we check which words occur in both dataframes: only these words will have importance in determining the type of food article we are dealing with. Of course, if no words are known from the nutrition dataset, the sample is not taken into account._

In [25]:
common_words = pd.merge(all_words_supermarket,all_words_nutrition,left_on = 'name',right_on = 'name',suffixes=('_supermarket', '_nutrition'))

In [26]:
print("Number of common words:{}".format(common_words.size))
common_words.head(10)

Number of common words:774

         name  number_supermarket  number_nutrition
0        soft                  53              1830
1      drinks                  29                57
2      cheese                  28             17371
3  vegetables                  25              1283
4        meat                  24              2764
5        carb                  18                70
6      powder                  18              1069
7        soup                  17              3614
8       baked                  16              2430
9       drink                  15              3572

## Link the two databases

In [27]:
SVG(filename='graphs/Word_importance.svg')

In [28]:
DIC_SCORE = construct_dic_score(common_words)

## Application of the function

In [29]:
print("Number items to match with the other dataset:{}".format(products_sales_df.size))

Number items to match with the other dataset:1635

In [30]:
#full df
#from IPython.core.debugger import set_trace

temp_df = products_sales_df.head(30).copy()
findfood = lambda list_words: find_food(list_words,food_df,DIC_SCORE)
start = time.time()
temp_df["ref_fdc_id"] = temp_df.ingredients.apply(findfood).fdc_id
stop = time.time()
print(stop-start)
#Problem: takes more than 45 min and error: has no attribute get indexer
#27.119338274002075s for size 20

0 ['tropical', 'fruit', 'bananas']
0 ['milk', 'products']
0 ['milk']
0 ['milk', 'products']
0 ['milk']
0 ['milk', 'products']
0 ['milk']
0 ['milk', 'products']
0 ['milk']
0 ['eggs', 'large']
0 ['corn', 'yellow']
0 ['baked', 'bread', 'buns', 'rolls', 'mainstream']
0 ['baked', 'bread', 'buns', 'rolls']
0 ['baked', 'bread', 'rolls']
0 ['baked', 'bread']
0 ['breakfast', 'sweets', 'donuts']
0 ['breakfast', 'sweets']
0 ['breakfast']
0 ['peppers', 'green', 'bell']
0 ['soft', 'drinks', 'car']
0 ['soft', 'drinks']
0 ['baked', 'bread', 'buns', 'rolls', 'mainstream']
0 ['baked', 'bread', 'buns', 'rolls']
0 ['baked', 'bread', 'rolls']
0 ['baked', 'bread']
0 ['vegetables', 'others', 'cucumbers']
0 ['vegetables', 'cucumbers']
0 ['vegetables']
0 ['berries', 'strawberries']
0 ['milk', 'products', 'chocolate']
0 ['milk', 'chocolate']
0 ['chicken', 'breast', 'boneless']
0 ['baked', 'bread', 'buns', 'rolls', 'hamburger']
0 ['baked', 'bread', 'rolls', 'hamburger']
0 ['baked', 'bread', 'hamburger']
0 ['baked', 'bread']
0 ['milk', 'products']
0 ['milk']
0 ['baked', 'bread', 'buns', 'rolls', 'hot', 'dog']
0 ['baked', 'bread', 'rolls', 'hot', 'dog']
0 ['baked', 'bread', 'hot', 'dog']
0 ['baked', 'bread', 'hot']
0 ['baked', 'bread']
0 ['milk', 'products']
0 ['milk']
0 ['citrus', 'oranges', 'navels']
0 ['citrus', 'navels']
0 ['citrus']
0 ['eggs', 'large']
0 ['beef', 'lean']
0 ['eggs', 'large']
0 ['baked', 'bread', 'buns', 'rolls', 'mainstream', 'wheat', 'multigrain']
0 ['baked', 'bread', 'buns', 'rolls', 'wheat', 'multigrain']
0 ['baked', 'bread', 'buns', 'rolls', 'wheat']
0 ['baked', 'bread', 'rolls', 'wheat']
0 ['baked', 'bread', 'wheat']
0 ['milk', 'products']
0 ['milk']
0 ['beef', 'primal']
0 ['carrots', 'mini', 'peeled']
0 ['vegetables', 'salad', 'head', 'lettuce']
0 ['salad', 'head', 'lettuce']
0 ['salad', 'lettuce']
0 ['soft', 'drinks', 'soft', 'drnk', 'liter', 'carb', 'incl']
0 ['soft', 'drinks', 'soft', 'liter', 'carb', 'incl']
0 ['soft', 'drinks', 'soft', 'liter', 'carb']
0 ['soft', 'drinks', 'soft', 'carb']
0 ['soft', 'drinks', 'soft']
32.49213719367981

In [31]:
# params pour l'erreur trouvés avc debug
#columns = ['match', 'fdc_id']
#indexer = [0,1]
#index.get_indexer(columns) #ligne problématique, dans core de pandas

In [32]:
temp_df.head()

,PRODUCT_ID,MANUFACTURER,CURR_SIZE_OF_PRODUCT,QUANTITY,ingredients,ref_fdc_id
35576,1082185,2,40 LB,30896,"[tropical, fruit, bananas]",368364
25754,995242,69,,21758,"[milk, products]",413289
29657,1029743,69,1 GA,16976,"[milk, products]",413289
41175,1133018,69,,12318,"[milk, products]",413289
38262,1106523,69,1 GA,11500,"[milk, products]",413289

In [33]:
all_information_df.drop(["data_type", "description", "category"], axis=1, inplace=True)

In [34]:
all_df = temp_df.merge(all_information_df,how="left",left_on="ref_fdc_id",right_on="fdc_id")
all_df.drop(["MANUFACTURER","ref_fdc_id","fdc_id"],axis=1,inplace=True)
all_df.set_index("PRODUCT_ID",inplace=True)

In [35]:
#saves results of this lengthy computation
all_df.to_pickle("../data/results/products_with_link_to_nutrients_df.pickle")

We have established the link between the dunnhumby supermarket dataset and the food database from the Department of Food and Agriculture which provides the nutrients information. We can now begin our analysis

# Analysis

In [36]:
#load the pickle file
with open(r"../data/results/products_with_link_to_nutrients_df.pickle", "rb") as input_file:
    linked_df = pickle.load(input_file)

In [37]:
def calculate_nutrient_per_day_per_person(key1,nutrient):
    """
    key = household key
    nutrient = nutrient for which we want to calculate the amount bought
    returns the amount of a specified nutrient bought and presumably consumed per day and per person on avergade
    in the selected household
    """
    household_transactions_df = transaction_data_df[transaction_data_df.household_key == key1]
    
    ids_bought_items = household_transactions_df["PRODUCT_ID"]
    household_transactions_df[nutrient] = linked_df.loc[ids_bought_items,nutrient].values
    
    household_transactions_df[nutrient].fillna(value=0)
    
    time_interval = household_transactions_df["DAY"].max() - household_transactions_df["DAY"].min() + 1
    nutrient_per_household = household_transactions_df[nutrient].sum() / time_interval
    household_demographics = hh_demographic_df[hh_demographic_df.household_key == key1]
    nutrient_per_person = nutrient_per_household / household_demographics["HOUSEHOLD_SIZE_DESC"]
    return nutrient_per_person

def parse_sex_homeowner(key):
    str1 = hh_demographic_df[hh_demographic_df.household_key == key]["HH_COMP_DESC"].values[0]
    str1 = str1.lower()
    if str1.contains("female"):
            return "f"
    elif str1.contains("male"):
            return "m"
    else:
            return "unknown"
    
#TO DO
#caloric needs adult = 2000 kcal , kid = 1000 kcal -> take it into account

In [38]:
#It is now convenient to find the amount of a certain nutrient in a given product using it's id
linked_df.loc[995242,"energy"]

62.0

### There is only test code from this point on, nothing to keep

In [44]:
#doesn't work because the information fdc_id is still missing
calculate_nutrient_per_day_per_person(255,"energy")

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

Series([], Name: HOUSEHOLD_SIZE_DESC, dtype: object)

In [45]:
test0 = ['duck','creamy','swiss','miss','pudding','24','oz']
test1 = ["penguin","afdadf"]
test2 = ["peanuts","orange","crisp"]
test3 = ["sandwich","lettuce","cheese"]
test4 = ["indian","lamb","josh"]
test5 = ['vanilla','creamy','swiss','miss','pudding','24','oz']
test6 = ['libbys']
test7 = ["hispanic", "oriental", "noodles"," rice"]
test8 = ["vegetables", "others"]
test9 = ["frozen", "ice", "cream", "bars"]
test10 =["wolf", "chili", "without", "beans"]
test11 = ["tropical", "fruit", "bananas"]
test12 = ['vegetables', 'green', 'cut']
test13 = ['vegetables', 'shelf', 'stable', 'beans', 'green', 'fs', 'whl', 'cut']
test14 = ["seafood", "shelf","stable", "tuna"]
find_food(test14, food_df, DIC_SCORE, verb = False)

0 ['seafood', 'shelf', 'stable', 'tuna']
0 ['seafood', 'stable', 'tuna']
0 ['seafood', 'tuna']
0 ['tuna']

match     Fish, tuna salad
fdc_id              175160
Name: 23, dtype: object